Необходимо виртуальное окружение в папке проекта: python -m venv venv
Также использована сторонняя библиотека aiogram, которую необходимо установить при включенном виртуальном окружении(venv\Scripts\activate) с помощью: pip install aiogram
